.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
	padding-right: 25px;
}
.cart-page{
      margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.heee{
    text-align: center;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding:5px;
    color: #fff;
    background: #2fcab3;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color:#ff523b;
    font-size: 12px;
}
td img{
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top:  8px solid #2fcab3;
    width: 100%;
    max-width:350px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.card mb-4q{
    -moz-box-align: center;
}
